{%  extends 'accounts/main.html' %}

{% block content %}

<br>


<div class="row">
	<div class="col-md">
		<div class="card card-body">
            <h5>Liste des demandes d'achat validées</h5>
            <hr>
			<table class="table table-sm" data-toggle="table">
				<tr>
					<th>Num RFQ</th>
                    <th>Request Code</th>
                    <th>Application Date</th>
					<th>Project Ref</th>
                    <th>Requester</th>
                    <th>Request Type</th>
                    <th>Speciality</th>
                    <th>Desired Delivery Date</th>
                    <th>Customer</th>
                    <th>PO Customer</th>
                    <th>Supplier 1</th>
                    <th>Delay 1</th>
                    <th>Quotation Number 1</th>
                    <th>Initial Cost Cotation 1</th>
                    <th>Devise 1</th>
                    <th>Offer 1</th>
                    <th>Supplier 2</th>
                    <th>Delay 2</th>
                    <th>Quotation Number 2</th>
                    <th>Initial Cost Cotation 2</th>
                    <th>Devise 2</th>
                    <th>Offer 2</th>
                    <th>Supplier 3</th>
                    <th>Delay 3</th>
                    <th>Quotation Number 3</th>
                    <th>Initial Cost Cotation 3</th>
                    <th>Devise 3</th>
                    <th>Offer 3</th>
                    

                </tr>
                
                {% for dem in demandes_validees %}

                <tr>
                    <td>D2100{{dem.demande.id}}</td>
                    <td>V_Request N°{{dem.demande.id}}</td>
                    <td>{{dem.demande.Application_Date}}</td>
                    <td>{{dem.demande.Project_Ref}}</td>
                    <td>{{dem.demande.Requester}}</td>
                    <td>{{dem.demande.Request_Type}}</td>
                    <td>{{dem.demande.Speciality}}</td>
                    <td>{{dem.demande.Desired_Delivery_Date}}</td>
                    <td>{{dem.demande.Customer}}</td>
                    <td>{{dem.demande.PO_Customer}}</td>
                    <td>{{dem.demande.Supplier_1}}</td>                    
                    <td>{{dem.demande.Delay_1}}</td>
                    <td>{{dem.demande.Quotation_Number_1}}</td>
                    <td>{{dem.demande.Initial_Cost_Cotation_1}}</td>
                    <td>{{dem.demande.Devise_1}}</td>
                    <td>{{dem.demande.File_1}}</td>
                    <td>{{dem.demande.Supplier_2}}</td>                    
                    <td>{{dem.demande.Delay_2}}</td>
                    <td>{{dem.demande.Quotation_Number_2}}</td>
                    <td>{{dem.demande.Initial_Cost_Cotation_2}}</td>
                    <td>{{dem.demande.Devise_2}}</td>
                    <td>{{dem.demande.File_2}}</td>
                    <td>{{dem.demande.Supplier_3}}</td>                    
                    <td>{{dem.demande.Delay_3}}</td>
                    <td>{{dem.demande.Quotation_Number_3}}</td>
                    <td>{{dem.demande.Initial_Cost_Cotation_3}}</td>
                    <td>{{dem.demande.Devise_3}}</td>
                    <td>{{dem.demande.File_3}}</td>
                    
                </tr>
            {% endfor %}

			</table>
		</div>
	</div>
</div>

<br>

<!--<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>-->

{% endblock %}